# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/run-data/logs/2026-01-11-2.log.gz
/run-data/logs/2026-01-24-2.log.gz
/run-data/logs/2026-01-24-3.log.gz
/run-data/logs/2026-01-24-4.log.gz
/run-data/logs/2026-01-24-5.log.gz
/run-data/logs/2026-01-24-6.log.gz
/run-data/logs/2026-01-24-7.log.gz
/run-data/logs/2026-01-24-8.log.gz
/run-data/logs/2026-01-24-9.log.gz
/run-data/logs/2026-01-24-10.log.gz
/run-data/logs/2026-01-24-11.log.gz
/run-data/logs/2026-01-24-12.log.gz
/run-data/logs/2026-01-24-13.log.gz
/run-data/logs/2026-01-24-14.log.gz
/run-data/logs/2026-01-24-15.log.gz
/run-data/logs/2026-01-24-16.log.gz
/run-data/logs/2026-01-24-17.log.gz
/run-data/logs/2026-01-24-18.log.gz
/run-data/logs/2026-01-24-19.log.gz
/run-data/logs/2026-01-25-1.log.gz
/run-data/logs/2026-01-25-2.log.gz
/run-data/logs/2026-01-25-3.log.gz
/src/generated/resources/.cache/e5c5eb35b4ba40351ecb7d9f04c3527f2f5779b0
